body {
  text-align: center;
  padding: 5%;
  color: grey;
  background-color: lightgrey;
  font-weight: bold;
}

.note {
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-style: bold;
  text-align: left;
  padding: 8px;
  margin: 30px;
  background-color: white;
}

.header {
  font-weight: bold;
  color: grey;
}

.button {
  font-weight: bold;
  color: grey;
}
